body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url('https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}